<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<main id="site-content" role="main">

    <div class="page-container-responsive">
        <div class="row row-space-top-8 row-space-8">
            <div class="col-md-12 text-center">
                <h1 class="text-jumbo text-ginormous hide-sm">Oops!</h1>
                <!-- <h1 class="text-jumbo text-ginormous hide-sm">Coming Soon!</h1> -->
                <h2>We can&#039;t seem to find the page you&#039;re looking for.</h2>
                <!-- <h2>We are working on this page, will update it soon.</h2> -->
                <h6>Error code: 404</h6>
                <ul class="list-unstyled">
                    <li>Here are some helpful links instead:</li>
                    <li><a href="/admin">Admin Login</a></li>

                </ul>
            </div>
        </div>
    </div>

</main>


</body>
</html>